/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    background-color: rgba(128, 128, 128, 0.638);
}

#container {
    border-radius: 10px;
    box-shadow:  0 4px 20px rgba(35,4,4,0.2);
    padding: 20px;
    width: 920px;
    background-color: #ccc;
    /* background-color: orangered; */
    /* overflow: hidden; */
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 10px; */
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /* gap: 10px; */
    /* background-color: blue; */
   
}

.day {
    border: 1px solid #ccc;
    padding:  25px;
    /* background-color: orangered; */
    background-color: #ccc;
    border-radius: 0px;
    text-align: center;
    font-size: 22px;
}

.day-name {
    font-weight: bold;
    font-size: 30px;
}

.flight-info {
    margin-top: 5px;
    font-size: 15px;
    background: rgba(255, 255, 255, 0.8);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
button{
    padding: 10px;
    font-weight: bold;
}
h2{
    font-size: 30px;
}
div:hover{
     background-color: rgba(100, 148, 237, 0.432);
}

